<title>{% block title %}MudLog Translator{% endblock title %}</title>
{% block extra_head %}
    <link rel="stylesheet" media="screen" href = "{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static',filename='grayscale.min.css') }}">
{% endblock %}

{% block content %}
<header class="masthead">
        <h3>
            MudLog Translator
        </h3>
        <p>
        <div class='container'>
            Enter the lithology description below<br>
            <form class='form-inline d-flex' action="/" method="post">
                <textarea id="lithodesc" class="form-control flex-fill" name="lithology_description" placeholder="Lithology Description"></textarea><br/>
                <input type="submit" value="Submit"/>
            </form>
             <br>
            <p><h4 align='left'>Result:</h4><br/>
                {{ result }}</p>
            </p>
        </div>
</header>
{% endblock %}